.App {
  text-align: center;
}

.ginger-img {
  max-width: 70%;
  max-height: 70%;
  display: inline;
  /* position: absolute; */
}

.kegs {
  height: 70vh;
  width: 70vw;
  text-align: center;
  background-color: lightgreen;
}
